---
layout: layouts/base.njk
title: Thank You
activeNav: contact
---

<div class="contact-content" data-reveal>
  <h2 class="gallery-title">Thank You</h2>
  <p class="contact-intro" style="margin-top: 1.5rem;">Your inquiry has been sent. I'll get back to you as soon as possible.</p>
  <a class="back-link" href="/contact/">Back to Contact</a>
</div>
