<div class="gradient-field" aria-hidden="true">
  <div class="gradient" data-hx="50" data-hy="110" data-pull="0.18" data-color="rgba(255, 248, 240, 0.30)" data-spread="55"></div>
  <div class="gradient" data-hx="-5" data-hy="50" data-pull="0.22" data-color="rgba(255, 248, 240, 0.34)" data-spread="52"></div>
  <div class="gradient" data-hx="105" data-hy="45" data-pull="0.14" data-color="rgba(255, 248, 240, 0.26)" data-spread="50"></div>
</div>
